<div>
  <h1 class="font-bold text-4xl">Dashboard</h1>
  <br>
  <%= link_to 'Add Guest',  new_user_registration_path %>
  <div>The website User Code is "millertime2024"</div>
  <% @users.each do |user|%>
    <br>
    <%= user.email %>
    <% unless user.profile.nil? %>
      <%= user.profile&.name.capitalize %>
      <% if !user.profile.guest.nil? %>
        <span>& <%= user.profile.guest %></span>
      <% end %>
      <%= form_with model: user.profile, method: :patch do |form| %>
        <%= form.label :rehearsal, "Invite to Rehearsal Dinner?" %>
        <%= form.check_box :rehearsal, {onchange: 'this.form.submit();'} %>
      <% end %>
    <% end %>
    <%= link_to 'Edit Guest Information', edit_profile_path(user.profile.id) %>
    <br>
  <% end %>
</div>
