<div id="<%= dom_id invitation %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Rehearsal:</strong>
    <%= invitation.rehearsal %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Attending rehearsal:</strong>
    <%= invitation.attending_rehearsal %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Attending wedding:</strong>
    <%= invitation.attending_wedding %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= invitation.user_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this invitation", invitation, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this invitation", edit_invitation_path(invitation), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
